@page
@namespace Anomalure.Web.Pages.ServerPushes
@model ServerPushesModel

<h1>Server Pushes</h1>

<div style="display: flex; gap: 20px;">
    <div style="flex: 1;">
        <h2>WebSockets</h2>
        <p>WebSocket events will appear here.</p>
        <div
            id="websocket"
            hx-ext="ws"
            ws-connect="/serverpushes/ws"
            >
            <div id="websocket-events">
                <p>Connecting...</p>
            </div>
        </div>
    </div>
    <div style="flex: 1;">
        <h2>HTMX SSE</h2>
        <p>HTMX SSE events will appear here.</p>
        <div
            id="htmx-sse-events"
            hx-ext="sse"
            sse-connect="/serverpushes/events?via=htmx"
            sse-swap="message"
            hx-swap="afterbegin">
        </div>
    </div>

    <div style="flex: 1;">
        <h2>JS EventSource SSE</h2>
        <p>JS EventSource events will appear here.</p>
        <div id="events"></div>
    </div>
</div>

<script>
    const eventSource = new EventSource('/serverpushes/events');
    eventSource.onmessage = function(event) {
        const eventsDiv = document.getElementById('events');
        const newEvent = document.createElement('div');
        newEvent.textContent = event.data;
        eventsDiv.prepend(newEvent); // Append new events to the top
    };
</script>
