@page "/serverpushes/ws"
@namespace Anomalure.Web.Pages.ServerPushes
@model ServerPushesWebSocketModel

<h1>WebSocket Echo</h1>

<p>Open a WebSocket connection to this page to send and receive echo messages.</p>
